.logo{
    height: 150px;
    width: 500px;
}

.header{
    text-align: center;
}

.navbar{
    background: #136;
    line-height: 45px;
}

.navbar a{
    font-family: sans-serif;
    text-decoration: none;
    padding: 14px 30px; 
    color: #fff;  
}

.navbar a:hover{
    background: gray;
}