.footer-container{
    text-align: center;
    background: linear-gradient(180deg,#282c34, #1a1b1c);
    height: 360px;
    color: white;
    padding: 10px;
}

.footer-container input, textarea{
    width: 50%;
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    box-shadow: 5px 5px 10px black;
    border: none;
    border-radius: 2px;
}

.footer-btn{
    width: 200px;
    padding: 8px;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-left: 38%;
    cursor: pointer;
    text-transform: uppercase;

}

.scnd-footer{
    text-align: center;
}